doctype html
html
  head
    title Foodstuff Inc.
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      h1 Foodstuff Inc.
      p World's Best Foodstuff
    block content
    div(class='footer')
      p Copyright 1989-2019 by Morten Olsen. All Rights Reserved.
      p This website was made using IntelliJ IDEA 2019.2.4 (Ultimate Edition).
